/* =====================
   TITLE
===================== */

.cardTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

/* =====================
   GRID
===================== */

.cardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* =====================
   CARD
===================== */

.card {
  background: var(--bg);
  border-radius: 1rem;
  border-color: var(--border);
  overflow: hidden;
  box-shadow: 0 10px 25px var(--shadow);
  display: flex;
  flex-direction: column;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 35px var(--shadow);
  border-color: var(--primary);
}

/* =====================
   CONTENT
===================== */

.cardContent {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--text)
}

.likedCard{
  background-color: rgba(255, 8, 0, 0.249);
}

.favoriteCard{
  background-color: rgba(255, 217, 0, 0.249);
}
.cardLibelleCategorie {
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--primary);
  text-transform: uppercase;
}

.cardTitre {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
}

.cardContenu {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #6b7280;
}

.resourcesActions {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

/* =====================
   RESPONSIVE
===================== */

@media (max-width: 900px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cardGrid {
    grid-template-columns: 1fr;
  }
}